//
// Variables partial
//
// To make it easier to use all variables and mixins in any Sass file.
// This is then called in app.scss and is available for all other files.
//

//
// Font faces, stacks and sizes
//

// Ritmo for vertical rhythm management is a powerful tool to set up a vertical
// rhythm for your entire page.
// @see https://github.com/marzeelabs/ritmo
$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 6px; // This line-height determines the basic unit of vertical rhythm.

// Font family
$base-font-family: sans-serif;
$code-font-family: monospace;

// Header font sizes
$h1-font-size: 48px;
$h2-font-size: 40px;
$h3-font-size: 33px;
$h4-font-size: 28px;
$h5-font-size: 23px;
$h6-font-size: 19px;



//
// Colors palette
// Add your own color groups and variations
// Call them using the palette function
// @see _functions.scss
//

$palettes: (
  black: (
    base: rgb(0, 0, 0) // #000 palette(black)
  ),
  grey: (
    xxx-light: rgb(249, 249, 249), // #F9F9F9 palette(grey, xxx-light)
    xx-light: rgb(210, 210, 210), // #d2d2d2 palette(grey, xx-light)
    x-light: rgb(149, 149, 149), // #959595 palette(grey, x-light)
    base: rgb(210, 210, 210), // #c5ccd1 palette(grey)
    mid-dark: rgb(51, 51, 51) // #333333 palette(grey, mid-dark)
  ),
  white: (
    base: rgb(255, 255, 255) // #fff palette(white)
  )
);


//
// Breakpoints
//
$break-extra-small: 400px;
$break-small: 480px;
$break-medium-small: 600px;
$break-medium: 730px;
$break-large: 980px;
$break-big: 1200px;


//
// Grids
//
// We are going to create a 1240px wide, 6 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$canvas-width: 1240px;

$susy: (
  columns: 6,
  gutters: 1/6,
  math: fluid,
  output: float,
  gutter-position: inside,
  //debug: (image: show)
);
