section#about-section

  h4.section-titles Acerca do Drupal Day

  .underlines

  p Integrado no evento Techdays promovido pela Câmara Municipal de Aveiro, o Drupal Day, tem por objetivo reunir a comunidade para partilha de experiências e conhecimento. As inscrições são gratuitas mas os lugares são limitados pelo que é importante a inscrição no site.<br>Vamos partilhar a paixão pelo Drupal!
