header
  nav.navigation__wrapper
    div(class='navigation')

      .navigation__mobile-menu__toggle
        span.navigation__mobile-menu__icon

      ul.navigation__mobile-menu

        li.navigation__item(class="#{ current.path[0] == 'index' ? 'is-active' : '' }")
          a(href='/') Home

        li.navigation__item(class="#{ current.path[1] == 'index' ? 'is-active' : '' }")
          a(href='/blog') Blog
