section#intro-section

  .intro-section__left

    .intro-section__left-block1
      h5 Drupal Day
      h1 Aveiro
      h5 17•09•2016
      a(href="/#schedule-section") Saber mais

    .intro-section__left-block2
      p Organização
      img(src="/images/home/logo_drupal_pt.jpg")

      span

      p Anfitrião
      img(src="/images/home/logo_techdays.jpg")


  .intro-section__right
